// Fixed-width and centered column
  // taken from https://github.com/primer/primer/blob/master/scss/_layout.scss
.container {
  max-width: @container-width;
  margin-right: auto;
  margin-left: auto;
  .clearfix;
}

// Create rows to clear floated columns and outdent the padding on column via
// negative margins
  // taken from https://github.com/primer/primer/blob/master/scss/_layout.scss
.row {
  margin-right: -@grid-gutter;
  margin-left: -@grid-gutter;
  .clearfix;
}

// Base class for every column (requires a column width from below)
  // taken from https://github.com/primer/primer/blob/master/scss/_layout.scss
.column {
  float: left;
  padding-right: @grid-gutter;
  padding-left: @grid-gutter;
}

.one-universal {
  width: 100%*(1/12);
}

.two-universal {
  width: 100%*(2/12);
}

.three-universal {
  width: 100%*(3/12);
}

.four-universal {
  width: 100%*(4/12);
}

.five-universal {
  width: 100%*(5/12);
}

.six-universal {
  width: 100%*(6/12);
}

.seven-universal {
  width: 100%*(7/12);
}

.eight-universal {
  width: 100%*(8/12);
}

.nine-universal {
  width: 100%*(9/12);
}

.ten-universal {
  width: 100%*(10/12);
}

.eleven-universal {
  width: 100%*(11/12);
}

.twelve-universal {
  width: 100%*(12/12);
}

@media (min-width: @small-to-medium-screen) {
  .one-medium {
    width: 100%*(1/12);
  }

  .two-medium {
    width: 100%*(2/12);
  }

  .three-medium {
    width: 100%*(3/12);
  }

  .four-medium {
    width: 100%*(4/12);
  }

  .five-medium {
    width: 100%*(5/12);
  }

  .six-medium {
    width: 100%*(6/12);
  }

  .seven-medium {
    width: 100%*(7/12);
  }

  .eight-medium {
    width: 100%*(8/12);
  }

  .nine-medium {
    width: 100%*(9/12);
  }

  .ten-medium {
    width: 100%*(10/12);
  }

  .eleven-medium {
    width: 100%*(11/12);
  }

  .twelve-medium {
    width: 100%*(12/12);
  }
}

@media (min-width: @medium-to-large-screen) {
  .one-large {
    width: 100%*(1/12);
  }

  .two-large {
    width: 100%*(2/12);
  }

  .three-large {
    width: 100%*(3/12);
  }

  .four-large {
    width: 100%*(4/12);
  }

  .five-large {
    width: 100%*(5/12);
  }

  .six-large {
    width: 100%*(6/12);
  }

  .seven-large {
    width: 100%*(7/12);
  }

  .eight-large {
    width: 100%*(8/12);
  }

  .nine-large {
    width: 100%*(9/12);
  }

  .ten-large {
    width: 100%*(10/12);
  }

  .eleven-large {
    width: 100%*(11/12);
  }

  .twelve-large {
    width: 100%*(12/12);
  }
}
